{% extends "base.html" %}

{% block content %}
<h1>pystorage</h1>
<a href="{{ url_for('main.upload') }}" class="button-primary">upload</a>

<h2>Files list:</h2>
{% if files %}
    <ul class="file-list">
    {% for file in files %}
        <li class="file-item">
            <a href="{{ url_for('main.download', filename=file.name) }}">{{ file.name }}</a>
            <span class="file-size">{{ file.size|filesizeformat }}</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Have no files</p>
{% endif %}
{% endblock %}
